@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");
@import url("../styles/buttons.css");

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: "Raleway", sans-serif;
}

@layer utilities {
	.flex-center {
		@apply flex justify-center items-center;
	}

	.flex-between {
		@apply flex justify-between items-center;
	}

	.flex-start {
		@apply flex justify-start items-center;
	}

	.no-focus {
		@apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
	}

	.landing-button {
		@apply rounded-full border-[#3E6E68] bg-[#DDF4F4] border-[4px] px-[30px] py-[17px];
	}
}
